In [13]:
import numpy as np
import pandas as pd

data = {
    'vitoshacademy.com': [0, 0, 2, 1], 
    'codedaily.vitoshacademy.com': [2, 6, 3, 1]
}

In [14]:
articles = pd.DataFrame(data)
print(articles)

   vitoshacademy.com  codedaily.vitoshacademy.com
0                  0                            2
1                  0                            6
2                  2                            3
3                  1                            1

In [15]:
articles

   vitoshacademy.com  codedaily.vitoshacademy.com
0                  0                            2
1                  0                            6
2                  2                            3
3                  1                            1

In [16]:
data_with_index = pd.DataFrame(data, index = ['wk33', 'wk34', 'wk35', 'wk36'])
data_with_index

      vitoshacademy.com  codedaily.vitoshacademy.com
wk33                  0                            2
wk34                  0                            6
wk35                  2                            3
wk36                  1                            1

In [17]:
wk34 = data_with_index.loc['wk34']
wk34

vitoshacademy.com              0
codedaily.vitoshacademy.com    6
Name: wk34, dtype: int64

In [18]:
data_with_index.index

Index(['wk33', 'wk34', 'wk35', 'wk36'], dtype='object')

In [19]:
data_with_index.to_numpy()

array([[0, 2],
       [0, 6],
       [2, 3],
       [1, 1]], dtype=int64)

In [20]:
data_with_index.describe()

       vitoshacademy.com  codedaily.vitoshacademy.com
count           4.000000                     4.000000
mean            0.750000                     3.000000
std             0.957427                     2.160247
min             0.000000                     1.000000
25%             0.000000                     1.750000
50%             0.500000                     2.500000
75%             1.250000                     3.750000
max             2.000000                     6.000000

In [21]:
data_with_index.mean()

vitoshacademy.com              0.75
codedaily.vitoshacademy.com    3.00
dtype: float64

In [22]:
data_with_index.apply(np.cumsum)

      vitoshacademy.com  codedaily.vitoshacademy.com
wk33                  0                            2
wk34                  0                            8
wk35                  2                           11
wk36                  3                           12

In [23]:
data_with_index.apply(lambda x: x.max() - x.min())

vitoshacademy.com              2
codedaily.vitoshacademy.com    5
dtype: int64

In [29]:
data_with_index.to_excel('myExcel.xlsx', sheet_name='Pandas')

In [32]:
pd.read_excel('myExcel.xlsx', 'Pandas', index_col=None, na_values=['NA'])

  Unnamed: 0  vitoshacademy.com  codedaily.vitoshacademy.com
0       wk33                  0                            2
1       wk34                  0                            6
2       wk35                  2                            3
3       wk36                  1                            1